@font-face {
   font-family: 'circular std';
   src: url('./fonts/circular') format()
}

body{
   text-decoration: none;
   list-style: none;
   background-repeat: no-repeat;
   background-size: cover;
  font-family: 'Roboto', sans-serif;
  background:   #F5FFFE;
}

#header{
   padding-top: 30px;
   background: #FFFFFF;
   text-align: center;
}

.nav__menu{
   display: flex;
   justify-content: space-between;
}

.nav__menu img{
   padding-bottom: 20px;
}

.logo {
   font-style: normal;
font-weight: normal;
font-size: 82px;
line-height: 82px;
display: flex;
align-items: center;
color: #0CA296;
}

.nav__item:hover{
   transition: 0.09s ease-in-out;
   background: #00A77F;
   color: #fff;
   border-radius: 10px;
}
.nav__item{
   font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: right;
text-transform: capitalize;
color: #000000;
text-decoration: none;
padding-left: 22px;
padding-right: 20px;
}

#hero2{
 background: url('../img/Rectangle\ 3.png');
 background-size: cover;
 min-height: 80vh;
 background-repeat: no-repeat;
 height: 542px;
}

.hero__tittle{
   align-items: center;
   text-align: center;
   padding-top: 196px;
}

.tittle__1{
   font-style: normal;
font-weight: 900;
font-size: 160px;
line-height: 202px;
text-align: center;
letter-spacing: -0.015em;
text-transform: lowercase;

color: #FFFFFF;

text-shadow: 0px 27px 5px rgba(0, 0, 0, 0.25);
}

.tittle__2{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

text-shadow: 0px 27px 5px rgba(0, 0, 0, 0.25);
}

.nav__item2{
font-family: Circular Std;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 70px;
text-transform: uppercase;
color: #565656;
text-decoration: none;
margin-right: 33px;
}

.nav__item2:hover{
   color: #00A77F;
}

.kol__1{
   margin-left: -54px;
    margin-right: 54px;
}

.kol__1 p{
width: 607px;
padding-top: 30px;
font-size: 15px;

}

.kol__2 {
text-align: center;
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #565656;
}

.kol__2 h4{
   margin-top: 32px;
   font-size: 16px;
   font-weight: 900;
}

.centerblock{
   margin-top: 20px;
   flex-direction: column;
}

.left-block-1{
width: 513px;
height: 132px;
background: #F5FFFE;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 10px;
}

.kol__5{
   padding-top: 80px;
   padding-bottom: 10px;
}

.kol__7{
padding-left: 19px;
}

#hero4{
   margin-top: 49px;
}

.right-block{
   margin-left: -65px;
}

.nav__item3:hover{
   color: #00A77F;
}
.nav__item3{
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 12px;
text-transform: uppercase;
color: #565656;
text-decoration: none;
margin-right: 33px;
margin-top: 20px
}

.flex-block{
   display: flex;
   margin-top: 30;
}

.images-1 img{
   border-radius: 10px;
}

.drow__tittle{
  position: absolute;
   width: 135px;
   height: 54px;
   left: 35px;
   top: 1510px; 
}

.drow__tittle h3{
   font-weight: 800;
   font-size: 15px;
   line-height: 18px;
   color: #FFFFFF;
}

.drow__tittle p{
   position: absolute;
   left: 2.9%;
   font-weight: 400;
   line-height: 6px;
   font-size: 7px;
   text-transform: uppercase;
   color: #D0D0D0;
}

.images-2 img{
   border-radius: 10px;
   margin-left: -5px;
}

.drow__tittle-2{
   position: absolute;
   width: 146px;
   height: 54px;
   left: 255px;
   top: 1510px;
}

.drow__tittle-2 h3{
   font-weight: 800;
   font-size: 15px;
   line-height: 18px;
   color: #FFFFFF;
}

.drow__tittle-2 p{
   position: absolute;
   left: 2.9%;
   top: 119.63%;
   bottom: 9.93%;
   font-family: Roboto;
   font-weight: 400;
   font-size: 5.84448px;
   line-height: 6px;
   font-size: 7px;
   text-transform: uppercase;
   color: #ffefef;
}

.images-3 img{
   border-radius: 10px;
   margin-left: -11px;
}

.drow__tittle-3{
   position: absolute;
    width: 175px;
    height: 54px;
    left: 471px;
    top: 1523px;
}

.drow__tittle-3 h3{
   font-weight: 800;
   font-size: 15px;
   line-height: 18px;
   color: #FFFFFF;
}

.drow__tittle-3 p{
   position: absolute;
   top: 95.63%;
   bottom: 9.93%;
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 5.84448px;
   line-height: 0px;
   font-size: 7px;
   text-transform: uppercase;
   color: #ffefef;
}


.tittle__h5{
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 10px;
   text-transform: uppercase;
   color: #565656;
   margin-top: -42px;
}

.flex-left-1, .flex-left-2, .flex-left-3, .flex-left-4{
   padding-top: 23px;
}

.flex-left-1 h6, .flex-left-2 h6, .flex-left-3 h6, .flex-left-4 h6 {
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 145.19%;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.4);
}

.flex-left-1 h3, .flex-left-2 h3, .flex-left-3 h3, .flex-left-4 h3{
font-family: Roboto;
font-weight: 700;
font-size: 22px;
line-height: 145.19%;
text-transform: uppercase;
color: #000000;
}

.flex-left-1 p, .flex-left-2 p, .flex-left-3 p, .flex-left-4 p{
   font-size: 10px;
line-height: 13px;
color: #565656;

}

.vl{
   border-left: 1px solid rgba(0, 0, 0, 0.06);
   height: 90px;
   left: 71%;
   top: 648px;
   position: absolute;
}

.vl-2{
   border-left: 1px solid rgba(0, 0, 0, 0.06);
   height: 90px;
   left: 85%;
   top: 648px;
   position: absolute;
}

.vl-3{
   border-left: 1px solid rgba(0, 0, 0, 0.06);
   height: 95px;
   left: 67%;
   top: 1343px;
   position: absolute;
}

.vl-4{
   border-left: 1px solid rgba(0, 0, 0, 0.06);
   height: 95px;
   left: 78%;
   top: 1343px;
   position: absolute;
}

.vl-5{
   border-left: 1px solid rgba(0, 0, 0, 0.06);
   height: 95px;
   left: 88.6%;
   top: 1343px;
   position: absolute;
}

.vl-6{
   border-left: 1px solid rgba(0, 0, 0, 0.06);
   height: 95px;
   left: 67%;
   top: 1563px;
   position: absolute;
}

.vl-7{
   border-left: 1px solid rgba(0, 0, 0, 0.06);
   height: 95px;
   left: 78%;
   top: 1563px;
   position: absolute;
}

.vl-8{
   border-left: 1px solid rgba(0, 0, 0, 0.06);
   height: 95px;
   left: 88.6%;
   top: 1563px;
   position: absolute;
}


.left-block-2{
padding-left: 42px;
}

.left-block-3{
   width: 514px;
   border: 1px solid #E5E5E5;
   box-sizing: border-box;
   border-radius: 10px; 
   margin-top: -48px;
}

.left-block-5{
    margin-top: 76px;
}

.left-block-6{
   width: 514px;
   border: 1px solid #E5E5E5;
   box-sizing: border-box;
   border-radius: 10px;
}

#hero__footer{
margin-top: 130px;
width: 1231px;
margin-left: 16px;
height: 133px;
background: #00BEAC;
border-radius: 10px;
}

.img-svg{
   position: absolute;
    top: 1728px;
    left: 40px;
}

.tittle__end{
padding-left: 330px;
padding-top: 47px;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
}

.tittle__end-2{
padding-left: 330px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.btn:hover{
transition: 0.2s;
 transform: translateY(2px);
}  

.btn{
position: absolute;
width: 144px;
height: 42px;
left: 990px;
top: 1863px;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #0CA296;
background: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}


.wrap img{
   width: 100%;
}

.footer-tittle{
position: absolute;
top: 2420px;
left: 4%;
}

.footer-tittle h3, .footer-tittle-2 h3, .footer-tittle-3 h3, .footer-tittle-4 h3{
font-family: Circular Std;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 346.69%;
text-transform: uppercase;
color: #D0D0D0;
}


.nav__footer-1:hover{
   transition: 0.4s;
   transform: translate(2px);
   color: #fff;
   opacity: 1;
}
.nav__footer-2:hover{
   transition: 0.4s;
   transform: translate(2px);
   color: #fff;
   opacity: 1;
}
.nav__footer-3:hover{
   transition: 0.4s;
   transform: translate(2px);
   color: #fff;
   opacity: 1;
}

.nav__footer-1, .nav__footer-2, .nav__footer-3{
display: flex;
justify-content: space-between;
text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
color: rgba(255, 255, 255, 0.8);
opacity: 0.50;
}

.footer-tittle-2{
   position: absolute;
   top: 2420px;
   left: 35%;
   }

   .footer-tittle-3{
   position: absolute;
   top: 2420px;
   left: 59%;
}

.footer-tittle-4{
position: absolute;
top: 2472px;
left: 78%;
}

.icon-footer{
   
   width: 55px;
   line-height: 40px;
}

.icons:hover{
   transition: 0.6s ease-in-out;
   transform: translateY(-8px);
}
.icons{
   list-style: none;
}




